[Unit]
Description=A simple http file server
After=network.target nss-lookup.target

[Service]
Type=simple
User=daemon
ExecStart=/usr/local/sbin/tksrv -c /etc/tkctl/tksrv.conf
ExecStop=/bin/kill -WINCH ${MAINPID}

[Install]
WantedBy=multi-user.target
